.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://firebasestorage.googleapis.com/v0/b/humans-of-boston.appspot.com/o/background.jpg?alt=media&token=a372308f-5b56-4e58-b574-154fe0791c09");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}


.hero-text {
  color: white;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}
